<section class="vite-promo">
  <div class="container">
    <div class="vite-promo-thumb">
      <a
        class="vite-promo-link"
        href="https://github.com/Mr-Elilah"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to Vite official website"
        title="Vite.js  build tool"
      >
        <img
          class="pic"
          src="./img/photo_2024-08-14_12-50-48.jpg"
          alt="Vite logo"
          width="640"
          height="640"
        />
      </a>
    </div>
    <h1 class="main-title">
      <span class="main-title-gradient">Mr.Elijah</span>
      Student of
      <a
        class="main-title-link"
        href="https://goit.ua/course/?utm_source=telegram&utm_medium=course&utm_campaign=post_description"
        target="_blank"
        rel="noopener noreferrer"
      >
        GoIT
      </a>
    </h1>
  </div>
</section>
